EXPO_PUBLIC_MQTT_URL=your_mqtt_url_here
EXPO_PUBLIC_MQTT_USERNAME=your_mqtt_username_here
EXPO_PUBLIC_MQTT_PASSWORD=your_mqtt_password_here

# Backend URL, example: http://localhost:3000
EXPO_PUBLIC_BASE_URL=http://localhost:3000